@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.main {
    &__clock {
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;

        &__face {
            font-size: 150%;
        }
    }
}